@import "bootstrap.less";
@import "elements.less";

body {
  background-color:#E6E2AF;
}

#content-wrap {
  margin-top:25px;
  margin-bottom:25px;
  padding:30px;
  background-color:#EFECCA;
  color:#002F2F;
  .rounded(5px);
  .drop-shadow(0, 1px, 5px, 0.7);
}

@media (max-width: @screen-sm-min) {
  #content-wrap {
    margin-top:0px;
  }
}

.btn {
  background-color:#046380;
  color:#EFECCA;
}

.btn:hover {
  background-color:#046380;
  color:#E6E2AF;
}

#todo-search {
  margin-bottom:25px;
}

#todo-create {
  margin-bottom:25px;
}

@media (max-width: @screen-sm-min) {
  #todo-search {
    margin-bottom:5px;
  }

  #todo-create {
    margin-bottom:5px;
  }
}

thead {
  font-weight:bold;
}

thead > a {
  text-decoration:none;
  font-color:#000;
}

.table-hover tbody tr:hover td {
  background-color:#E6E2AF !important;
}

.delete-column {
  text-align:center;
}

.delete-link {
  color:#d40d12;
}

.top-back-link {
  margin-bottom:30px;
}

.bottom-back-link {
  margin-top:30px;
}

#footer > p {
  font-size:12px;
}

hr {
  border:0;
  width:80%;
  height:2px;
  background-color:#030303;
  color:#030303;
  margin:1px 0 15px;
}

/* Fix for modal in BS3 with Angular UI */
.modal {
  display: block;
  height:0;
  overflow:visible;
}

.modal-body:before,
.modal-body:after {
  display:table;
  content: " ";
}

.modal-header:before,
.modal-header:after {
  display: table;
  content: " ";
}
