@import "bootstrap.less";
@import "elements.less";

body {
  background-color:#E6E2AF;
}

#content-wrap {
  margin-top:25px;
  padding:30px;
  background-color:#EFECCA;
  color:#002F2F;
  .rounded(5px);
}

@media (max-width: @screen-sm-min) {
  #content-wrap {
    margin-top:0px;
  }
}

.btn {
  background-color:#046380;
  color:#EFECCA;
}

.btn:hover {
  background-color:#046380;
  color:#E6E2AF;
}

#todo-search {
  margin-bottom:25px;
}

thead {
  font-weight:bold;
}

.table-hover tbody tr:hover td {
  background-color:#E6E2AF !important;
}

/* Fix for modal in BS3 with Angular UI */
.modal {
  display: block;
  height:0;
  overflow:visible;
}

.modal-body:before,
.modal-body:after {
  display:table;
  content: " ";
}

.modal-header:before,
.modal-header:after {
  display: table;
  content: " ";
}
