<div class="row" id="todo-search">
  <div class="col-lg-12">
    <div class="input-group">
      <input 
      type="text" 
      class="form-control" 
      ng-model="query" 
      placeholder="Sök bland titlar...">
      <span class="input-group-btn">
        <button 
          title="Rensa sökfält"
          class="btn btn-default" 
          ng-click="query=''"
          type="button">
          <span class="glyphicon glyphicon-remove-circle"></span>
        </button>
      </span>
    </div>
  </div>
</div>

<div class="row" id="todo-create">
  <div class="col-lg-12">
    <button 
      class="btn col-xs-6 col-sm-6 col-md-6 col-lg-6" 
      title="Skapa ny sak att göra"
      ng-click="open()">Skapa ny <span class="glyphicon glyphicon-pencil"></span></button>
  </div>
</div>

<table id="todo-list" class="table table-condensed table-hover">
  <thead>
    <tr>
      <td>Titel</td>
      <td>Senast ändrad</td>
      <td>Radera</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="todo in todos | filter:query">
      <td><a href="#" ng-click="show(todo.edited)">{{ todo.title }}</a></td>
      <td>{{ todo.created | date:'short' }}</td>
      <td><a href="/#/todos" ng-click="delete(todo.edited)" id="delete-link"><i class="glyphicon glyphicon-trash"></i></a></td>
    </tr>
  </tbody>
</table>
