<div class="row" id="todo-search">
  <div class="col-lg-12">
    <div class="input-group">
      <input 
      type="text" 
      class="form-control" 
      ng-model="query" 
      placeholder="Sök bland titlar...">
      <span class="input-group-btn">
        <button 
          title="Rensa sökfält"
          class="btn btn-default" 
          ng-click="query=''"
          type="button">
          <span class="glyphicon glyphicon-remove-circle"></span>
        </button>
      </span>
    </div>
  </div>
</div>

<div class="row" id="todo-create">
  <div class="col-lg-12">
    <button 
      class="btn col-xs-6 col-sm-6 col-md-6 col-lg-6" 
      title="Skapa ny sak att göra"
      ng-click="open_create()">Skapa ny <span class="glyphicon glyphicon-pencil"></span>
    </button>
  </div>
</div>

<table 
  ng-init="sortKey='created'; reverse=!reverse" 
  id="todo-list" 
  class="table table-condensed table-hover">
  <thead>
    <tr>
      <td>
        <a href="" ng-click="sortKey = 'title'; reverse=!reverse">Titel</a>
      </td>
      <td>
        <a href="" ng-click="sortKey = 'created'; reverse=!reverse">Skapad</a>
      </td>
      <td class="delete-column">Radera</td>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="todo in todos | filter:query | orderBy:sortKey:reverse">
      <td>
        <a 
          href="#/todo/{{ todo.id }}" 
          title="{{ todo.title }}">
          {{ todo.title | cutOffString:50 }} 
          <span 
            class="glyphicon glyphicon-paperclip" 
            ng-if="todo.text"></span>
        </a>
      </td>
      <td>{{ todo.created | date:'yyyy-MM-dd HH:mm' }}</td>
      <td class="delete-column">
        <a title="Radera" href="/#/todos" ng-click="delete(todo.id)" class="delete-link">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
